@charset "ISO-8859-1";
* {box-sizing: border-box;}
body {
	font-family: Arial;
	padding: 10px;
	background: #408080;
}
.left {
	float: left;
	width: 25%;
	height: 300px;
	background:  #008080;
}

.head {
	color: #ff8040;
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: #ff8040;
}

ul li {
	list-style-type: none;
}

table, th, td {	
	color:  #000080;
}

th,td {
	padding: 15px 35px 15px 35px;
	border-bottom: 1px solid grey;
}


.right {
	float: right;
	width: 75%;
	background:  #008080;
	padding: 20px;
	height: 300px;
}

@media screen and (max-width: 800px) {
	.left, .right {
	width: 100%;
	padding: 0;
	}
}